<html>
    <head>
        <title>KenKen Web</title>
        <meta content="authenticity_token" name="csrf-param">
        <meta content="AeZdaE6HHDF/pfLQH6ns6KXnh3/A5RBzPSmAopSRJJ8=" name="csrf-token">
    </head>
    <body>
    
        <form method="POST">
            <input type="text" value="foo" />
            <input type="submit" />
        </form>
    </body>
</html>