body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

form {
  font: 62.5% "Trebuchet MS", sans-serif;
  /*margin: 50px;*/
}

a {
  color: #00B7FF;
}

.headers {
  margin-top: 2em;
}
#dialog-link {
  padding: .4em 1em .4em 20px;
  text-decoration: none;
  position: relative;
}
#dialog-link span.ui-icon {
  margin: 0 5px 0 0;
  position: absolute;
  left: .2em;
  top: 50%;
  margin-top: -8px;
}
#icons {
  margin: 0;
  padding: 0;
}
#icons li {
  margin: 2px;
  position: relative;
  padding: 4px 0;
  cursor: pointer;
  float: left;
  list-style: none;
}
#icons span.ui-icon {
  float: left;
  margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
  position: absolute;
}

/*  custom  */



#method-button {
  top: 10px;
  font-size: 1.5em;
}
/*.req input[name="Host"] {
  width: 200px;
}*/
.req input[name="Url"] {
  /*position: relative;*/
  /*top: -3px;*/
  width: 600px;
}
.req > div input,
.req > div select {
  marign: 5px;
}

.req>div {
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
}

.req input {
  padding: 3px;
  margin: 3px;
}
.req .ui-spinner {
  width: 60px;
}

.requestParams {
  position: relative;
  left: -40px;
}
.requestParams li .header{
    display: inline;
    width: 100px;
  }
.requestParams  li{
    display: inline;
  }
.requestParams  li input{
    display: inline;
    position: relative;
    /*top: -38px;*/
  }

.requestParams  li .ui-widget {
    font-size: 1.5em;
}